*.xml
*.iml
*.pyc
*.db
*.spec
*.ini
*.log*
icons_rc.py
current_config.json
/build
/venv
/venv3.5
/Lib
/Scripts
/resources/py
/configurations
/tests
/test_protocols
dist/*
!dist/SpectrumReader.exe
!dist/settings.ini